body {
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
}

aside {
    width: 30%;
    padding: 20px;
}

main {
    width: 70%;
    padding: 20px;
}

#movie-details {
    text-align: center;
}

#poster {
    width: 50%;
}

#films {
    list-style-type: none;
    padding: 0;
}

.film {
    cursor: pointer;
}

.sold-out {
    text-decoration: line-through;
}
